# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
.env
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
